<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <header class="navbar">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a href="/login">Effettua il login</a>
                        <a href="/register">Effettua la registrazione</a>
                    </div>
                </div>
            </div>
        </header>
    </body>

</html>